body {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-align: center;
}

.container {
    padding: 150px;
}

label {
    margin: 5px;
    display: block;
}

input {
    width: 250px;
    height: 20px;
    padding: 5px;
    display: block;
    text-align: center;
    font-size: 20px;
}

#userName {
    margin: 5px;
    text-align: center;
}

#password {
    margin: 5px;
    text-align: center;
}

a {
    display: flex;
    justify-content: center;
}

#submitButton {
    display: flex;
    justify-content: center;
}

button {
    width: 125px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    height: 35px;
    border: 1px solid #008CBA;
    background-color: white;
    color: #008CBA;
    border-radius: 5px;
    font-family: sans-serif;
}

button:hover {
    border: 1px solid #008CBA;
    background-color: #008CBA;
    color: white;
    border-radius: 5px;
}

.error {
    color: red;
}

.errorInput{
    outline-color: red;
    border: 1px solid red;
}

.success {
    outline-color: green;
    border: 1px solid green;
}